<!DOCTYPE html>
<html>

<body>
  <div class="container">
    <div class="nav">

      <div class="logout">
        <p>Logout</p>
      </div><br><br><br><br><br><br>
      <div class="contact">
        <p>Message</p>
      </div><br><br><br><br><br>
      <div class="profile">
        <p>Profile</p>
      </div><br><br><br><br>

    </div>

    <div class="views">
      <div class="back">

          <div class="price">
              <p>R2300</p>
            </div>
      
            <div class="bed">
              <p>1 Bed and 1 Bath</p>
            </div>

      <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco<br>
          laboris nisi ut aliquip ex ea commodo consequat.<br>
          Duis aute irure dolor in reprehenderit in voluptate velit<br>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco<br>
          laboris nisi ut aliquip ex ea commodo consequat.<br>
          Duis aute irure dolor in reprehenderit in voluptate velit</p>
      </div>

      <div class="features">
        <h1>Features</h1>
        <p>24 Hour Room service</p><br>
        <p>Satellite TV</p><br>
        <p>Wi-Fi</p><br>
        <p>Mini Bar</p><br>
        <p>Tea/Coffee</p><br>
      </div>
    </div>

    </div>
    <div class="list">

      <div class="r1"></div>
      <div class="r2"></div>
      <div class="r3"></div>
      <div class="r4"></div>

    </div>
  
  </div>
</body>

</html>
