<!DOCTYPE html>
<html>

<body>
  <div class="container">
    <div class="nav">

    <button><div class="logout" (click)="logout()">
      <p>Logout</p>
    </div><br><br><br><br><br><br></button>  

    </div>

    <div class="views">
      <div class="back">

      <div class="description" >
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco<br>
          laboris nisi ut aliquip ex ea commodo consequat.<br>
          Duis aute irure dolor in reprehenderit in voluptate velit<br>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco<br>
          laboris nisi ut aliquip ex ea commodo consequat.<br>
          Duis aute irure dolor in reprehenderit in voluptate velit</p>
      </div>

      <div class="price">
        <p>R2300</p>
      </div>

      <div class="bed">
        <p>1 Bed and 1 Bath</p>
      </div>

      <div class="features">
        <h1>Features</h1>
        <p>24 Hour Room service</p><br>
        <p>Satellite TV</p><br>
        <p>Wi-Fi</p><br>
        <p>Mini Bar</p><br>
        <p>Tea/Coffee</p><br>
      </div>

      
    </div>

    </div>
    <div class="list" *ngFor="let r of rooms">

      <div class="r1">
        {{r.Price}}<br>
        {{r.Description}}<br>
        {{r.RoomType}}
      </div>
      <div class="r2">
        {{r.Price}}<br>
        {{r.Description}}<br>
        {{r.RoomType}}
      </div>
      <div class="r3">
        {{r.Price}}<br>
        {{r.Description}}<br>
        {{r.RoomType}}
      </div>
      <div class="r4">
        {{r.Price}}<br>
        {{r.Description}}<br>
        {{r.RoomType}}
      </div>

    </div>
  
  </div>
</body>

</html>
