<!Doctype html>
<html>

<body>
  <div class="container">


    <div class="left">
      <div class="background">

      </div>

      <div class="inputs">
        <div class="login" *ngIf="showComp">
          <p class="l" >LOGIN</p>
          <br><br>

            <label>Email</label><br>
            <input type="email" placeholder="Enter Email" [(ngModel)]="email" required ><br>


            <label>Password</label><br>
            <input type="password" placeholder="Enter Password" [(ngModel)]="password" required><br>

            <input type="button" value="Login" class="btn" (click)="sign()">
            <br><br>
            <p class="q">Don't have an account yet? <span (click)="showRegister()">Register</span></p>
          

        </div>

        <div class="login" *ngIf="!showComp">
          <p class="l">Register</p>
          <br><br>

            <label>email</label><br>
            <input type="email" placeholder="Enter Email" required><br>


            <label>Password</label><br>
            <input type="text" placeholder="Enter Password" required><br>

            <input type="button" value="Register" class="btn">
            <br><br>
            <p  (click)="showRegister()" class="q">Already Have an account?<span>Login</span></p>

 

        </div>
      </div>
    </div>

    <div class="right">
      <div class="welcome">
        <h1>Welcome <br> To <br> The Lux <br> Hotel</h1>
      </div>

    </div>


  </div>
</body>

</html>
