<!Doctype html>
<html>

<body>
  <div class="container">


    <div class="left">
      <div class="background">

      </div>

      <div class="inputs">
        <div class="login" *ngIf="showComp">
          <p class="l" (click)="login(user)">LOGIN</p>
          

            <label>Email</label><br>
            <input type="email" placeholder="Enter Email" [(ngModel)]="user.email" required ><br>


            <label>Password</label><br>
            <input type="password" placeholder="Enter Password" [(ngModel)]="user.password" required><br>

            <a routerLink="/list" class="nav-link"><input type="button" value="Login" class="btn btn-login" ></a>
            <br><br>
            <p>Don't have an account yet? <span (click)="showRegister()">Register</span></p>
          

        </div>

        <div class="register" *ngIf="!showComp">
 

            <label>email</label><br>
            <input type="email" placeholder="Enter Email" required><br>


            <label>Password</label><br>
            <input type="text" placeholder="Enter Password" required><br>

            <input type="button" value="Register" class="btn btn-register">
            <p  (click)="showRegister()">Already Have an account?<span>Login</span></p>

 

        </div>
      </div>
    </div>

    <div class="right">
      <div class="welcome">
        <h1>Welcome <br> To <br> The Lux <br> Hotel</h1>
      </div>

    </div>


  </div>
</body>

</html>
